.add__item {
    height: 100vh;
    width: 100vw;
    padding: 0 1rem;
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(0,0,0,0.6);

    @media screen and (min-width: 720px) {
        padding: 0 2rem;
        align-items: center;
        
        .add__form {
            max-width: 480px;
            width: 100%;
        }
    }

    

    .add__form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: flex-start;
        background-color: #FFFFFF;
        padding: 2rem 1rem;
        border-radius: 0.5rem;

        @media screen and (min-width: 480px) {
            padding: 2rem 1.5rem;
        }

        @media screen and (min-width: 1020px) {
            padding: 2rem 1.5rem;
        }

        h3 {
            color: #635FC7;
        }

        .add__item-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        width: 100%;

        label {
            color: #828FA3;
            font-size: 12px;
            font-weight: 500;
        }

        input {
            width: 100%;
            padding: 0.75rem 1.25rem;

            border-radius: 0.25rem;
            // border: 1px solid #828FA3;
            outline: none;

            border: 1px solid rgba(130, 143, 163, 0.25);

            font-family: var(--primary-font);
            letter-spacing: 0.5px;
            font-weight: 500;

            caret-color: #3A7CFD; 

            &:focus {
                border: 1px solid #3A7CFD;
            }
        }
    }
    }

}

button {
    padding: 1rem 2rem;
    border-radius: 12px;
    width: 100%;
    border: none;

    background-color: #635FC7;

    color: #FFFFFF;

    &:hover,
    &:focus {
        cursor: pointer;
        opacity: 0.8;
        transition: opacity 0.3s;
    }

    &:disabled {
        cursor: not-allowed;
    }
}
