.input__container {
    margin-top: 2.5rem;

    form {
        display: flex;
        justify-content: center;
        background-color: #FFF;
        width: 100%;
        border-radius: 0.5rem;
    }

    input {
        width: 100%;
        padding: 1rem 2rem;
        border: none;
        border-radius: 0.5rem;
        outline: none;
        letter-spacing: 1px;
        position: relative;
        font-family: 'Raleway', sans-serif;
        caret-color: #3A7CFD; 
        font-size: 0.9rem;

        @media screen and (min-width: 1020px) {
            font-size: 1rem;
        }
    }

    .search-button {
        width: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;

        background-color: #212121;

        &:hover {
            background-color: #635FC7;
        }
    }
}

.circle__input {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: red;
}