.item__container {
    background-color: #fff;

    &:hover,
    &:focus {
        box-shadow:0px 2px 10px rgba(0,0,0, 0.3);
        cursor: pointer;
    }
    
}

.item__wrapper, form {
    display: flex;
    align-items: center;
}

.circle__item {
    width: 24px;
    height: 24px;
    border: 1px solid #E3E4F1;
    border-radius: 50%;
    margin: 0 1rem;
    aspect-ratio: 1;

    &:hover {
        border: 2px solid hsl(280, 87%, 65%);
    }
}

.item__text {
    padding: 1rem 0;
    width: 100%;
    letter-spacing: 1px;
}

.item__input {
    width: 100%;
    padding: 1rem 0;
    font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    outline: none;
    border: none;
    letter-spacing: 1px;
    caret-color: #3A7CFD;
}

.circle__fill {
  background-image: linear-gradient( 45deg, hsl(192, 100%, 67%),hsl(280, 87%, 65%));
}

.item__controls {
    padding-right: 2rem;
    display: flex;
    align-items: center;

    i {
        font-size: large;
    }
}

.icons__container {
    width: 35px;
    height: 35px;
    padding: 0.6rem;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover,
    &:focus {
        background-color: rgba(0,0,0,0.1);
    }
}
