@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600&display=swap');

:root {
  --text-color: #212121;
  --primary-font: 'Raleway', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  min-height: 100vh;
  color: var(--text-color);
  background-color: #F2F2F2;
}

